.quantitative_page {
  height: 100%;
  max-width: 100%;
  background-color: #F6F6F6;
  
  .left {
      display: grid;
      gap: 2rem;
      width: 100%;
      grid-template-columns: 1fr 1fr;
      height: 100%;
    }
    
   @media (max-width: 1025px) {
      .left {
        grid-template-columns: 1fr;
      }
    }


  &__title {
    font-size: 22px;
    font-weight: bold;
    background-color: #F6F6F6;

  }
  &__content {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 30px;
    background-color: #F6F6F6;


    .middle {
      height: 100%;
      width: 100%;
      height: auto;
    }

    .right {
      display: flex;
      flex-direction: column;
      row-gap: 2rem;
      height: 100%;
      width: 100%;
    }
  }
  .middle_bottom {
      width: 80%;
      height: auto;
      margin: auto;
    }

}

.quantitative_bivariate {
  height: 100%;
  max-width: 100%;
  background-color: #F6F6F6;

  
  .quantitative_bivariate_left {
      display: grid;
      gap: 2rem;
      width: 100%;
      grid-template-columns: 1fr 1fr;
      height: 100%;
    }
    
   @media (max-width: 1025px) {
      .quantitative_bivariate_left {
        grid-template-columns: 1fr;
      }
    }

  &__title {
    font-size: 22px;
    font-weight: bold;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    height: inherit;

    .quantitative_bivariate_right {
      display: flex;
      flex-direction: column;
      row-gap: 1rem;
      height: 100%;
      width: 100%;
    }
  }
}

/*.qualitative_page {
  display: ruby;
  height: 100%;
  max-width: 100%;

  &__title {
    font-size: 22px;
    font-weight: bold;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    height: inherit;

    .qualitative_page_middle {
      display: flex;
      flex-direction: column;
      row-gap: 1rem;
      height: 100%;
      width: 100%;
    }

  }
}*/

#qualitative-myChart{
  background-color: #ffffff !important;
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  justify-content: center;
}
.qualitative_page {
  display: flex;
  flex-direction: column; /* Align items in a column for smaller screens */
  height: auto; /* Change to auto for responsiveness */
  max-width: 100%;
  padding: 10px; /* Padding for spacing */
  overflow: auto;

  &__title {
    font-size: 22px;
    font-weight: bold;
    text-align: center; /* Center title for better appearance */
  }

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    height: auto; /* Change to auto for responsiveness */
    width: 100%;

    .qualitative_page_middle {
      display: flex;
      justify-content: center; /* Center horizontally */
      align-items: center; /* Center vertically */
      column-gap: 1rem; /* Space between columns */
      height: auto; /* Adjust height to auto for responsiveness */
      width: 100%;
    }
  }
}
.head_section{
  display: flex;
  justify-content: space-between;
}

#export_quantitative{
  height: 62px;
  top: -4px;
  margin: 5px;
  background-color: #2F195F;
  color: #fff;
  border-radius: 12px;
}

#export_bivariate{
  height: 62px;
  top: -4px;
  margin: 5px;
  background-color: #2F195F;
  color: #fff;
  border-radius: 12px;
}
